<!DOCTYPE html>
<html lang="en">

{% block start %}

{% endblock %}

</body>
</html>

<!-- Here, all common content can be put and used at other files...  -->
<!-- Whatever will be written here i.d. top and bottom code...
after that the files which will inherit this file...like index.html is inheriting base.html
and what ever we will write inside ->
block code->
code here...in other files...like index.html
block code->

that code will be populated i.d. putted inside this ->
block code->
code will be putted here in base.html...
block code->

In above comments code...if we write same code block start and end ...error will come...
it reads twice in comments too...so we written block code instead of it...

-->