{% extends "baseRecipe.html" %} 
<!-- In above line we can import any base file from any app...(name should be different) -->
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto p-3 shadow" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update Recipe</h2>
        <!--It checks if data is on same server page or not... -->
        <div class="mb-3">
          <label for="recipe name" class="form-label">Recipe name</label>
          <input type="text" value="{{recipes.recipe_name}}" class="form-control" name="recipe_name" required>
          <div id="info" class="form-text">Enter delicious recipes here!😋🥗</div>
        </div>
        <div class="mb-3">
          <label for="recipe description" class="form-label">Recipe Description</label>
          <textarea  class="form-control" name="recipe_description" required>
            {{recipes.recipe_description}}
          </textarea>
        </div>
        <div class="mb-3">
            <label for="recipe image" class="form-label">Recipe Image</label>
            <input type="file" value="{{recipes.recipe_image}}" class="form-control" name="recipe_image" ></input>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="terms" required>
          <label class="form-check-label" for="exampleCheck1"><a href="/termsAndConditions/">Agree to terms and conditions.</a></label>
        </div>
        <button type="submit" class="btn btn-success">Update Recipe</button>
      </form>
      
</div>

{% endblock %}